.panel{
	text-align:center;
	padding:10px 20px;
	background: #f5f5f5;
	border-bottom:2px solid red;
	font-size:25px;
	color:teal;
}
.content{
	text-align:center;
	padding:10px 20px;
	background: #ddd;
	font-size:20px;
}